<!-- views/signup.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/signup.css"> <!-- Add a specific CSS file for signup -->
</head>
<body>
  <div class="container">
    <h1><%= title %></h1>
    <form action="/signup" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required>

      <button type="submit" class="signup-btn">Sign Up</button> <!-- Add a class for the signup button -->
    </form>
    
    <em>Already have an account? <a href="/login" class="login-link">Log In</a></em> <!-- Add a class for the login link -->
  </div>
</body>
</html>
